<nav class="navbar fixed-top navbar-expand-lg navbar-gray-bg bg-gray-bg pt-4 pb-4 line-button">
  <div class="container-fluid container">
    <!-- <h1 class="m-0 d-flex lh-base"> -->
      <a class="navbar-brand logo" href="./">
        <h1 class="m-0 lh-base fs-6 d-flex align-items-end">
          <img class="logo-img me-3" src="./assets/images/logo2.svg" alt="logo">
          <span class="logo-text fs-6 text-gray-c1">Coding Home |</span>
        </h1>
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-symbols-outlined text-primary align-bottom">
        drag_handle
      </span>
    </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-4 mt-4 mt-lg-0 mb-lg-0 lh-base text-center text-lg-end">
          <li class="nav-item me-0 me-lg-6">
            <a class="nav-link active text-white fs-7" aria-current="page" href="./">首頁</a>
          </li>
          <li class="nav-item me-0 me-lg-6">
            <a class="nav-link text-white fs-7" href="./class.html">課程介紹</a>
          </li>
          <li class="nav-item d-flex justify-content-center justify-lg-content-end">
            <a class="nav-link text-white fs-7 d-flex align-items-center" href="#">
              <!-- <span class="material-icons">account_circle</span> -->
              <span class="material-symbols-outlined">
                account_circle
              </span>
              登入</a>
          </li>
        </ul>
      </div>
  </div>
</nav>