<nav class="navbar navbar-expand-lg navbar-gray-bg bg-gray-bg border-bottom border-dark">
  <div class="container-fluid pb-3 pt-3 pb-lg-4 pt-lg-4 container">
    <!-- <h1 class="m-0 d-flex lh-base"> -->
      <a class="navbar-brand logo" href="./">
        <h1 class="m-0 lh-base fs-6 d-flex align-items-end">
          <img class="logo-img me-3" src="./assets/images/logo.svg" alt="logo">
        </h1>
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars text-primary align-bottom"></i>
    </button>
      <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav mt-lg-0 mb-lg-0 lh-base text-center text-lg-end mt-5 pm-5">
          <li class="nav-item me-0 me-lg-6 border-start border-dark">
            <form class="d-none d-lg-flex align-items-lg-center">
              <input class="form-control border-0 bg-gray-bg text-dark me-6" type="search" placeholder="搜尋作品名稱、藝術家名稱" aria-label="Search">
              <button class="border-0 bg-gray-bg"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </li>
          <li class="nav-item me-0 me-lg-6 border-start border-dark">
            <a class="nav-link text-dark fs-7 fw-bold" href="./class.html">探索</a>
          </li>
          <li class="nav-item me-0 me-lg-6 border-start border-dark">
            <a class="nav-link text-dark fs-7 fw-bold" href="./class.html">市值</a>
          </li>
          <li class="nav-item d-flex justify-content-center justify-lg-content-end border-start border-dark">
            <a class="nav-link text-dark fs-7 d-flex align-items-center" href="#">
              <!-- <span class="material-icons">account_circle</span> -->
              <i class="fa-solid fa-wallet"></i>
            </a>
          </li>
        </ul>
      </div>
  </div>
</nav>